@-moz-viewpoint {width: divice-width; scale: 1;}
@-ms-viewpoint {width: divice-width; scale; 1;}
@-0-viewpoint {width: divice-width; scale; 1;}
@viewpoint {width: divice-width; scale; 1;}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.img-flex {
    display: block;
    width: 100%;
    margin: 0 auto;
}

p {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
}

/********************************* Skip Links *******************************/

.skip-link {
	margin: 0;
	padding: 0:;
	list-style-type: none;
}

.skip-link a {
	position: absolute;
	top: -10em;
	color: #000;
	font-weight: bold;
	font-size: 1.25em;
	text-decoration: none;
}

.skip-link a:focus {
	top: 0;
}

/********************************* Billboard *******************************/

.billboard {
	background-color:#00CCCC;
	padding-left: 350px;
	height: auto;
}

.white {
	color: #fff;
}

.main-header {
  font-size: 3.25rem;
  line-height: 1.3354;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.social-icon {
	margin-left: 35%;
}

.second-header {
 text-align: center;
 font-family: 'Roboto', sans-serif;
 font-weight: 300;
}

.pad-top-1-2 {
  padding-top: 40%;
}
 .social {
 	text-align: center;
 	display: block;
 }

.fade {
	margin:0;
}
.fade li a {
-webket-transition: all 0.5s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.fade li a:hover {
	opacity: 0.6;
}

 ul {
 	list-style-type: none;
 	padding: 0;
 }


.email {
	text-decoration: none;
	color: #2F4F4F;
	-webkit-transition: color 250ms linear;
	transition: color 250ms linear;
}

.email:hover {
	color: #7029A8;
}

/********************************* Media *******************************/

@media only screen and (min-width: 25em) {
	.billboard {
		height: 50em;
	}
}

@media only screen and (min-width: 38em) {
	.billboard {
		background-image: url(../images/selfportrait.png);
		background-position: center center;
		background-size: cover;
		overflow: hidden;
		height: 45em;
	}
	.main-header {
	 		font-size:3.5rem;
	 		line-height: 1.5;
		}

}

@media only screen and (min-width: 60em) {
	.billboard {
		background-position: center center;
		background-size: cover;
		overflow: hidden;
	}

	.main-header {
 		font-size: 4rem;
 		line-height: 1.5;
	}

	.second-header {
		font-size: 1.75rem;
 		line-height: 1.5;
	}
}

@media only screen and (min-width: 90em) {
}
